body {
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    font-family: Arial, sans-serif;
    background-color: #1C1C1C;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

#logo {
    color: white;
    font-size: 800%;
    font-weight: bolder;
}


.login {/*
    transform: scale(1);
    -webkit-transform: scale(10);
    -moz-transform: scale(10);
    -ms-transform: scale(10);
    -o-transform: scale(10);
    */
    font-size: 500%;
    color: rgb(39, 45, 191);
    border-radius: 100px;

}

.infotext {
    font-size: 200%;
    color: antiquewhite;
}

p {
    margin-top: 100px;
}

img {
    margin-top: 100px;
    width: 50%;
    /*
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    */
}
.dse{
    font-size: 200%;
    color: rgb(36, 97, 162);
}