<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
        <title>Sposify Login</title>
    </head>

    <body>
        <div id="logo">
            <img id="logo-picture" src="{{ url_for('static', filename='discoball-removebg.png') }}">
            <p >
            <a id="logo-text">Disco<br>Song Wünsche</a>
        </div>

        <a href='/login'><button class="login">Mit Google Account fortfahren</button></a>

        <p class="infotext">
            Wir geben keine Informationen an Drittanbieter weiter
        </p>
        <a href='/dse'><button class="dse">Datenschutzerklärung</button></a>

    </body>


</html>