/* Body */
body {
  font-family: Arial, sans-serif;
  background-color: #1DB954;
  color: #FFF;
  width: 100vw;
  height: 100vh; 
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: auto;
  margin-top: auto;
  margin: auto;
  margin-bottom: auto;
  align-self: center;
  align-items: center;
  text-align: center;
  place-items: center;
}


  
/* Form */
form {
background-color: #FFF;
border-radius: 20px;
padding: 60px;
padding-left: 150px;
padding-right: 150px;
}

/* Labels */
label {
font-weight: bold;
display: block;
margin-bottom: 10px;
}

/* Input Fields */
input[type=text] {
border-radius: 5px;
border: none;
padding: 10px;
width: 50vw;
height: 10vw;
margin-bottom: 30px;
background-color: aqua;
outline: auto;
font-size: 180%;

}

/* Buttons */
button[type=submit] {
background-color: #191414;
color: #FFF;
border-radius: 5px;
border: none;
padding: 20px;
cursor: pointer;
transition: all 0.3s ease-in-out;
width: fit-content;
height: 8vw;
font-size: 130%;

}

button[type=submit]:hover {
background-color: #FFF;
color: #191414;
width: fit-content;
height: 8vw;
font-size: 130%;

}

/* Select */
select {
  width: 50vw;
  height: 10vw;
border-radius: 5px;
border: none;
padding: 10px;
margin-bottom: 10px;
font-size: 180%;

}

/* Message Info */
p {
margin-top: 10px;
font-family: Trebuchet MS;
color:  blue;
padding-top: 30px;

}
.header{
  font-family: Arial, sans-serif;
  font-size: 200%;
  font-style:initial;
  color:  rgb(0, 0, 0);
  


  /*padding-top: 100%;*/
}
.main{
  padding: 4%;
  font-size: 180%;
  padding: 10vw;

  

}

.Logout {
  font-family: Arial, sans-serif;
  border-radius: 10px;
  font-size: 150%;
  padding: 15px;
  margin: 20px;
  background-color: #191414;
  color: #FFF;




}
#searchfield {
  font-size: xx-large;
}