@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap%27");

* {
    padding: 0 !important;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
    font-family: "Montserrat" !important;
    margin: 0;
    margin: 0 0 2em 0;
    width: 100%;
    overflow-y: scroll; /* Enable vertical scrolling */
    padding-bottom: 10vh !important;
}

.button-bottom {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1a1a1a;
    position: fixed;
    bottom: 0;
    padding-bottom: 5vh !important;
}

.button-bottom-style {
    width: 30%;
    height: 7vh;
}

.category {
    display: flex;
    flex-direction: column;
    margin-bottom: 4vh;
    justify-content: center;
}

.category input {
    width: 40%;
    align-self: center;
    text-align: center;
    height: 4vh;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2vh;
}

.buttons button {
    width: 30%;
    height: 4vh;
}

.entry {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 1vh;
}

.entry input {
    margin-right: 1vw;
    width: 30%;
    height: 4vh;
    text-align: center;
}

.entry button {
    width: 20%;
    height: 4vh;
}

#category-container {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 5vh;
}

.entries {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1vh;
    flex-direction: column;
}
