<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='tv.css') }}"
        />
        <link rel="stylesheet" type="text/css" href="../static/tv.css" />

        <title>Admin Website</title>
    </head>
    <body>
        <form id="pricelistForm">
            <div id="categories"></div>
            <button type="button" id="addCategory">Add Category</button>
            <button type="submit">Submit</button>
        </form>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="../static/admin.js"></script>
    </body>
</html>
