<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='tv.css') }}"
        />

        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" type="text/css" href="../static/tv.css" />

        <title>TV Website</title>
    </head>
    <body>
        <div class="main-container">
            <div class="pricelist text-center">
                <h1 id="heading">Getränke- und Speiseliste</h1>

                <table class="foodtable" id="tablele">
                    <tr>
                        <th colspan="3">Getränke</th>
                    </tr>

                    <tr>
                        <td>Wasser</td>
                        <td>0.2 l</td>
                        <td>TBD €</td>
                    </tr>
                    <tr>
                        <td>Cola</td>
                        <td>0.2 l</td>
                        <td>0.50 €</td>
                    </tr>
                    <tr>
                        <td>Fanta</td>
                        <td>0.2 l</td>
                        <td>0.50 €</td>
                    </tr>
                    <tr>
                        <td>Sprite</td>
                        <td>0.2 l</td>
                        <td>0.50 €</td>
                    </tr>
                    <tr>
                        <td>Slush Eis</td>
                        <td>0.2 l</td>
                        <td>2.00 €</td>
                    </tr>

                    <tr>
                        <th colspan="3">Speisen</th>
                    </tr>

                    <tr>
                        <td>Sandwich</td>
                        <td></td>
                        <td>TBD</td>
                    </tr>
                    <tr>
                        <td>Brezeln</td>
                        <td></td>
                        <td>1.00 €</td>
                    </tr>

                    <tr>
                        <th colspan="3">Snacks</th>
                    </tr>

                    <tr>
                        <td>Salzsstangen</td>
                        <td>1 Becher</td>
                        <td>0.50 €</td>
                    </tr>
                    <tr>
                        <td>Nüsse</td>
                        <td>1 Becher</td>
                        <td>1.00 €</td>
                    </tr>
                    <tr>
                        <td>Chips</td>
                        <td>1 Tüte</td>
                        <td>TBD</td>
                    </tr>
                    <tr>
                        <td>Popcorn</td>
                        <td>1 Tüte</td>
                        <td>TBD</td>
                    </tr>
                </table>
            </div>
            <div class="spotify">
                <div id="currentSongCol" class="col-md pe-0">
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

                    <div
                        id="currentSongDiv"
                        class="container-fluid text-center"
                    >
                        <div id="gradient">
                            <img id="album-art" src="../testimage.png" />

                            <div id="currentSong" class="container songDiv">
                                <h2 id="songname" class="scrolling-text">
                                    Songname
                                </h2>
                                <h3 id="song-artists" class="scrolling-text">
                                    Artist
                                </h3>

                                <progress
                                    id="progressbar"
                                    value="0"
                                    max="0"
                                ></progress>
                            </div>
                            <div
                                id="upcoming1"
                                class="container songDiv upcoming"
                            >
                                <h2
                                    id="upcoming1songname"
                                    class="scrolling-text"
                                >
                                    Upcoming Songname 1
                                </h2>
                                <h3
                                    id="upcoming1artists"
                                    class="scrolling-text"
                                >
                                    Upcoming Artist 1
                                </h3>
                            </div>

                            <div
                                id="upcoming2"
                                class="container songDiv upcoming"
                            >
                                <h2
                                    id="upcoming2songname"
                                    class="scrolling-text"
                                >
                                    Upcoming Songname 2
                                </h2>
                                <h3
                                    id="upcoming2artists"
                                    class="scrolling-text"
                                >
                                    Upcoming Artist 2
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"
        ></script>
        <script src="../static/tv.js"></script>
    </body>
</html>
